@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
      padding: 0;
    box-sizing: border-box;
}
section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    padding: 100px;
    min-height: 100vh;
    background-color: #0062be;

}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header .logo{
    position: relative;
    max-width: 80px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #fff;
    font-weight:400;
    margin-left: 40px;
    text-decoration: none;
}
.containt{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.containt .text{
    position: relative;
    max-width: 600px;
}
.containt .text h2{
    color: #fff;
    font-weight: 900;
    font-size: 4em;
    line-height: 1.5em;
    text-transform: uppercase;
}
.containt .text h2 span{
    font-size: 2em;

}
.containt .text p{
    color: #fff;
}
.containt .text a{
   
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #fff;
    color: #111;
    border-radius: 40px;
    font-weight:500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
.containt .imgbox{
    width: 600px;
    display: flex;
    padding-right: 50px;
    margin-top: 50px;
    justify-content: flex-end;
}
.containt .imgbox img{
    min-width: 260px;  
}
.sci{
  
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 6px;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    filter: invert(1);
    margin: 5px 0;
    transform: scale(0.6); 
}